[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.4.3"
matplotlib = "==3.5.2"
numpy = "==1.23.1"
scikit-learn = "==1.1.1"

[dev-packages]
ipykernel = "==6.15.1"
seaborn = "==0.11.2"
pytest = "==7.1.2"
pylint = "==2.14.5"

[requires]
python_version = "3.9"
